@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model IEnumerable<ease_admin_cloud.Areas.Catalogs.Models.cat_genero>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Catálogos Operativos/</span> Áreas</h4>
<p>
    <a id="iNuevo" type="submit" class="btn btn-defaul" asp-action="Create" hidden="hidden">
        <i class="fas fa-plus" style="color: #4DD79C;"></i>
        Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.genero_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_actualizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_estatus_registro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.genero_desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_actualizacion)
                </td>
                <td style="text-align:center">
                    @if (item.id_estatus_registro == 1)
                    {
                        <i class="fas fa-check-circle" style="font-size: 1em; color: #4DD79C;"></i>
                    }
                    else
                    {
                        <i class="fas fa-stop-circle" style="font-size: 1em; color: #D64B4B;"></i>
                    }
                </td>
                <td style="text-align:center">
                    <a asp-action="Edit" asp-route-id="@item.id_genero" title="Editar"><i class="fa-solid fa-pencil"
                            style="color: #D7be4d;"></i></a>&nbsp;&nbsp;
                    <a asp-action="Details" asp-route-id="@item.id_genero" title="Detalles"><i
                            class="fa-solid fa-circle-info" style="color: #0090D9;"></i></a>&nbsp;&nbsp;
                    <a asp-action="Delete" asp-route-id="@item.id_genero" title="Desactivar"><i
                            class="fa-solid fa-square-minus" style="color: #D64B4B;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblProductos').DataTable();
            var estatus_flag = '@ViewBag.EstatusFlag'
            var empresa_flag = '@ViewBag.EmpresaFlag'
            var corporativo_flag = '@ViewBag.CorporativoFlag'
            if (estatus_flag == 0) {
                document.getElementById("iNuevo").style.visibility = "hidden";
            }
            else {
                if (empresa_flag == 0) {
                    document.getElementById("iNuevo").style.visibility = "hidden";
                }
                else {
                    if (corporativo_flag == 0) {
                        document.getElementById("iNuevo").style.visibility = "hidden";
                    }
                    else {
                        document.getElementById("iNuevo").style.visibility = "visible";
                    }
                }
            }
        });
    </script>
}