@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model ease_admin_cloud.Areas.Catalogs.Models.cat_area

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>cat_area</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.area_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.area_desc)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_usuario_modifico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_registro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_estatus_registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_estatus_registro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_area">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
